.m-dropdown {
    position: relative;
    height: 36px;
}

.m-dropdown .m-btn-dropdown {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  border-radius: 30px;
  border: 2px solid #3b3c3f;
}
.m-dropdown .m-btn-dropdown span{
    font-family: MISA NotoSans;
    font-size: 13px;
    padding-right: 6px;
}
.m-dropdown .m-btn-dropdown .m-icon{
    width: 16px;
    height: 16px;
}
.m-dropdown .m-btn-dropdown:hover{
    background-color: #d2d3d6;
}

.m-dropdown .m-dropdown-list{
    position: absolute;
    z-index: 999;
    margin-top: 4px;
    width: max-content !important;
    background-color: #fff !important;
    bottom: 10;
    left: 0;
    transform: translateX(-50%);
}

.m-dropdown-list .m-dropdown-item{
    font-size: 13px;
    width: 100%;
    padding: 5px 10px;
}